body {
  font-family: 'Helvetica';
}

ul {
  list-style-type: none;
}

.main {
  width: 50%;
  margin: auto;
}

.main > h1 {
  text-align: center;
  margin-bottom: 10px;
}

.border-line {
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid black;
  width: 50%;
}

.main > p {
  text-align: center;
}

#current-conditions {
  display: flex;
  height: 100px;
}

.temp {
  font-size: 40px;
}

.daily-cond {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

.day-night {
  display: flex;
  justify-content: space-around;
}

.day-cond {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#day-phrase {
  display: block;
}

.night-cond {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#night-phrase {
  display: block;
}